@import "../util/colors.scss";

.green {
    color: $green;
}

.pink {
    color: $purple;
}

.container {
    width: 100%;
    height: 100%;
    margin-top: 100px;

    color: white;

    display: grid;
    grid-template-columns: auto 800px auto;
    grid-template-rows: calc(6rem + 2rem) 50px 100px;
    grid-auto-flow: column;
    gap: 20px;
}

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    font-size: 6rem;
    color: $green;
}

.subHeader {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    margin-left: 500px;
    font-size: 1.5rem;
    align-self: flex-end;
    color: $purple;
}

.input {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    padding: 7px;

    font-family: 'Dosis', sans-serif;
    font-size: 1.5rem;
    color: $purple;
    text-align: center;
    
    background-color: transparent;
    border: 2.5px solid $purple;
    border-radius: 100px;
}

.genres {
  grid-column: 2 / 3;
  grid-row: 3 / 4;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;

  font-family: 'Dosis', sans-serif;
  
  a {
      font-size: 2rem;
      color: $red;
      text-decoration-thickness: 1px;
      text-decoration-skip-ink: all;

      text-decoration: none;

      &:hover {
          text-decoration: underline;
      }
  }
}
